@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;

}
.home{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.logo{
    display: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: wheat;
    /* border: 1px solid white; */
    margin-right: auto;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color:whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
    align-items: center;
    padding: 30px 10%;
    /* border: 1px solid red; */
}

.nav_links{
    list-style: none;
    /* border: 1px solid yellow; */
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;

}
.nav_links li a:hover {
     color: #0088a9;
}

.profile {
    height: 40vw;
    max-height: 460px;
    min-height: 360px;
    width: 80vw;
    min-width: 660px;
    max-width: 870px;
    background:linear-gradient(#0b7080,#0ba376);
    border-radius: 30px;
    box-shadow: 0 0 100px -5px rgba(0,0,0,.25);
}
.profile__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 40%;
}

.background{
    position: relative;
    height: 100vh;
}
.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: #fff;
        height: 40vw;
        max-height: 460px;
        min-height: 360px;
        width: 60%;
        right:0;
        top: 0;
        border-radius: 30px;
        overflow: auto;
     }

.index__content{
    justify-content: center;
}
.content__name
{   font-weight: 600;
    font-size: 40px;
    color: black;
}

.content__desc{
    color: grey;
    font-weight: 400;

}

.profile__picture img
{   height: 130px;
    width: 130px;
    border-radius: 50%;
}    

.profile__desc {
    position: relative;
    top: -30px;
}
.profile__icons img{
    color: lightgray;
    height: 20px;
    width: 20px;
}

 .content__title
 {
    position: absolute;
    left: 8%;
    top: 5%;
    font-size: 30px;
    color: black;
} 
.content__list--education{
    position: absolute;
    left: 6%;
    top: 20%;
    font-size: 20px;
    color: black;
}

.content__education--top{
    position: relative;
    height: 50%;
    width: 100%;
  
}

.yearAndSchool,
.yearAndDesc{
    position: absolute;
    color: black;
    font-size: 15px;
    width: 30%;
}

.institute {
    margin-top: 20%;
    color: darkgray;
}

.title{
    font-size: 16px;
    width: 60%;
    position: absolute;
    color: black;
    right: 0;
    padding-left: 20px;
    padding-bottom: 60px;
    border-left: 1px solid lightgray;
}


.title__body{ 
    width: 60%;
    position: absolute;
    right: 0;
    font-size: 15px;
    color: darkgray;
    padding-left: 20px;
    border-left: 1px solid lightgray;
    margin-top: 50px;
    margin-left: 20px;

}
.title::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #0b7080;
    position: absolute;
    background-color: white;
    margin-left: -26px;
    margin-top: 3px;

}

.content__education{
    position: relative;
    min-height: 200px;
    top: 140px;
    width: 80%;
}

.content__education--bottom{
    position: relative;
    width: 100%;
    height: 50%;
    margin-top: 50px;
   
}
.content__experience{ 

    position: relative;
    width: 80%;
    margin-top: 270px;
    min-height: 300px;
}
.content__list--experience{
    color: black;
    position: absolute;
    top: 430px;
    left: 6%;
}
.content__experience--top{
    position: absolute;
    width: 100%;

} 

.content__experience--bottom {
    position: absolute;;
    margin-top: 160px;
    padding-bottom: 30px;
    width: 100%;
}
.aboutMe__title{
position: absolute;
left: 8%;
top: 5%;
font-size: 30px;
color: black;
}


.whatIdo__title{
    color: black;
    font-size: 25px;
}


.aboutMe {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.skills{
    margin: 30px 0;
}
.skills__title{
    color: black;
    margin-top: 10px;
    font-size: 20px;
}
.skillsIcon{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.skillsIcon img{
margin: 15px;
height: 75px;
width: 75px;
}

.aboutMe p {
    position: relative;
    color: rgb(90, 86, 86);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    width: 100%;
    margin-top: 70px;
    /* top: 70px; */
}
.whatIdo{
    margin-top: 25px;
}
.whatIdo__container{
    display: flex;
    flex-wrap: wrap;

}
.whatIdo__list h2{
    margin: 15px 0;
    color: black;
    font-size: 18px;
}
.whatIdo__list{
    width: 50%;

}
.whatIdo__icon{
    width: 25px;
    height: 25px
}
.whatIdo__list p{
    font-size: 16px;
    margin-top: 20px;
}
